<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column" id="mynavlist">
      <li class="nav-item">
        {% include pages.md name=page.name active='index' icon='home' %}
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="font-size: xx-small;" href="{{ '/' | relative_url }}">
          Site built<br/>  {{ site.time }} 
        </a>
        <a class="nav-link" style="font-size: xx-small;" href="mailto:eicug-webmaster@eicug.org">
          <span data-feather="mail" style="color:coral"></span>
          Webmaster
        </a>
      </li>

    </ul>
  </div>

</nav>
